<h1>Delete Ticket</h1>
<!-- Ticket to delete: -->
<form method="POST" action="/delete">
  <label for="res_ticket_Number">Ticket Number:</label>
  <input type="text" name="res_ticket_Number" placeholder="Enter ticket number">

  <button>Delete</button>
</form>

<a href="http://localhost:8080/index.html">Go to Index</a>