<h1>Search for a passenger</h1>
<!--Searched passenger info: -->
<form method="POST" action="/search">
reservation_system ticket number:<input type="text" name="res_ticket_Number" placeholder="Enter searched ticket_number">
<button>Search</button>
</form>

<a href="http://localhost:8080/index.html">Go to Index</a>