<h1>Update Ticket</h1>
<!-- Updated ticket info: -->
<form method="POST" action="/update">
  <label for="res_ticket_Number">Ticket Number:</label>
  <input type="text" name="res_ticket_Number" placeholder="Enter ticket number">

  <label for="seatNumber">Seat Number:</label>
  <input type="text" name="seatNumber" placeholder="Enter new seat number">

  <label for="destination">Destination:</label>
  <input type="text" name="destination" placeholder="Enter new destination">

  <label for="date">Date:</label>
  <input type="date" name="date" placeholder="Enter new date">

  <button>Update</button>
</form>

<a href="http://localhost:8080/index.html">Go to Index</a>